<div
  style="margin-top: 150px"
  class="d-flex justify-content-center align-items-center"
>
  <div class="container">
    <div class="row" *ngIf="brands">
      <div class="col-8">
        <div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 text-uppercase">Id</div>
                  </th>

                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 text-uppercase">Name</div>
                  </th>

                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 text-uppercase">Remove</div>
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let item of brands">
                  <td class="align-middle">{{ item.id }}</td>
                  <td class="align-middle">
                    <span class="font-weight-bold"> {{ item.name }} </span>
                  </td>
                  <td class="align-middle">
                    <i
                      (click)="deleteBrand(item.id)"
                      class="fa fa-trash text-danger"
                      style="font-size: 2em; cursor: pointer"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-3">
   <div>
    <form [formGroup]="addNewBrandForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-4">
        <h3 class="h3 mb-3 font-weight-normal">Add New Brand</h3>
      </div>
      <app-text-input
        type="text"
        [formControl]="addNewBrandForm.controls['name']"
        label="Name"
      ></app-text-input>

      <button class="btn btn-primary" type="submit">Add New Brand</button>
    </form>
   </div>
      </div>
    </div>
  </div>
</div>
