<div style="margin-top: 150px" class="container">
  <h1 class="text-center">Welcomme to Admin Panel</h1>

  <div class="row mt-5">
    <div class="col-md-4">
      <h2>Orders <i class="fa fa-shopping-cart"></i></h2>
      <p><strong>Number of orders: 2</strong></p>
      <p>
        <a class="btn btn-secondary" routerLink="/admin/orders" role="button">View details »</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Users <i class="fa fa-user"></i></h2>
      <p><strong>Number of users: 2</strong></p>
      <p>
        <a class="btn btn-secondary" href="#" role="button">View details »</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Products <i class="fa fa fa-dropbox"></i></h2>
      <p><strong>Number of products: 2</strong></p>
      <p>
        <a class="btn btn-secondary" routerLink="/admin/products" role="button"
          >View details »</a
        >
      </p>
    </div>

    <div class="col-md-4">
      <h2>Brands</h2>
      <p><strong>Number of brands: 2</strong></p>
      <p>
        <a class="btn btn-secondary" routerLink="/admin/brands" role="button"
          >View details »</a
        >
      </p>
    </div>

    <div class="col-md-4">
      <h2>Types</h2>
      <p><strong>Number of types: 2</strong></p>
      <p>
        <a class="btn btn-secondary" routerLink="/admin/types" role="button"
          >View details »</a
        >
      </p>
    </div>
  </div>
</div>
